.reservation {
  width: 100%;
	height: 600px;
  position: relative;
  background: #004d30;
	border: solid 1px;
}
.reservations-container {
  height: 100%;
  width: 60%;
  float: right;
  margin: 0px auto;
  display: inline-block;
  padding: 0;
}
.reservations-container h3{
	color: #fff;
}

.reservations-container form{
  display: inline;
}
.calendar-container  {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 40%;
  display: inline-block;
  padding: 1%;
  float: left;
}
.calendar {
  display: table;
  width: 100%;
  padding: 0;
}
.year-header {
  text-align: center;
  position: relative;
  color:#fff;
	background-color: #198754;
	border: solid 1px;
}
.year-header span {
  display:inline-block;
  font-size: 2em;
  line-height:40px;
}
.year{
	cursor: default;
	-webkit-user-select: none;
}
.year-prev-button, .year-next-button {
  cursor: pointer;
  text-align:center;
  position:absolute;
}
.year-prev-button {
  left:0;
}
.year-next-button {
  right:0;
  top:0;
}
.month-header {
	margin-top: 2%;
  text-align: center;
  position: relative;
  color:#198754;
	background-color: #fff;
	border: solid 1px #198754;
}
.month-header span {
  display:inline-block;
  font-size: 1.8em;
  line-height:40px;
}
.month{
	cursor: default;
	-webkit-user-select: none;
}
.month-prev-button, .month-next-button {
  cursor: pointer;
  text-align:center;
  position:absolute;
}
.month-prev-button {
  left:0;
}
.month-next-button {
  right:0;
  top:0;
}
.days-table, .dates-table{
    border-collapse:separate;
    text-align: center;
		margin-top: 2%;
}
.table-date {
	font-size: 1.5em;
  border-radius: 100%;
  border: 5px solid transparent;
  transition: all 250ms;
  -webkit-user-select: none;
}
.table-date:not(.nil):hover {
	color: #fff;
  border-color: #198754;
	background-color: rgba(25, 134, 83, 0.4);
  cursor: pointer;
}
.day {
	cursor: default;
  font-size: 1em;
  color:#fff;
	width: 14%;
	-webkit-user-select: none;
}
.active-date{
  background: #fff;
  color: #198754;
	border-radius: 5%;
}
.blocked-date{
  background: #198754;
  color: #fff;
  border-radius: 5%;
  cursor:not-allowed;
}

.transition{
  height: 100%;
  transition : height 2s;
}
.transition.active{
  height : 24%;
}

.horaires label{
	width: 24%;
}
