@font-face {
  font-family: NeutraText;
  src: url(../../ressources/polices/NeutraText-Book.otf);
}

a{
  text-decoration: none;
}
h1{
  font-family: NeutraText;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
h2{
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2%;
}
h3{
  margin-top: 1%;
  margin-left: 1%;
  color: #198754;
}
h4{
  margin-top: 1%;
  margin-left: 1%;
  color: #004d30;
}
h5{
  color: #198754;
}
h6{
  color: #ffffff;
  font-size: 25px;
}
body{
  font-family: NeutraText;
  background-color: #004d30;
}
footer{
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  width:98%;
  padding: 2%;
  font-family: NeutraText;
  background-color: #198754;
  color: #ffffff;
  font-size: 20px;
}
.table{
  color: #ffffff;
  --bs-table-hover-color: #fff;
  background-color: #004d30;
}
.table-light{
  --bs-table-color: #004d30;
}
.btn-light{
  --bs-btn-color: #004d30;
  --bs-btn-hover-color: #198754;
  --bs-btn-hover-bg: #d9d9d9;
}
.btn-outline-light{
  --bs-btn-hover-color: #004d30;
}
.accordion-item{
  color:#ffffff;
}


/* Menu */

.menu-conteneur{
  margin-top: 1%;
  margin-left: 1%;
  width:98%;
  border-bottom: solid 2px #004d30;
}
#hautdepage{
  position: fixed;
  bottom: 2%;
  right: 1%;
  opacity: 0.7;
}
.liensAccueil{
  color:#ffffff;
}
.liensAccueil:hover{
  color:#004d30;
}


/* pages */

.conteneur{
    width:98%;
    background-color: #198754;
    margin: 1%;
    padding: 2%;
    color:#ffffff;
    font-size: 20px;
}
.conteneurSousTitre{
  font-size: 20px;
  font-weight: bolder;
}
.conteneurTexte{
  font-size: 18px;
  margin: 1% 8% 1% 8%;
}


/* index */

.textecarousel{
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  opacity: 0.8;
}

/* cadres */

.cadreblanc{
  background-color: #ffffff;
  color: #198754;
  padding: 2%;
}

.cadrevert{
  margin-top : 2%;
  padding: 2%;
  border: 2px solid #fff;
  background-color: #004d30;
}

/* boutique */

.liensBoutiqueArticles{
  font-size: 1em;
  color: #198754;
}
.liensBoutiqueArticles:hover{
  color: #004d30;
}
.card-body{
  font-size: 1em;
}

/* mescommandes */

.liensCommandesArticles{
  color:#ffffff;
}
.liensCommandesArticles:hover{
  color:#198754;
}
